@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
header {
  width: 100%;
  padding: 15px;
  background-color: #0d121e;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
}

.content-left {
  display: flex;
}

.logo img {
  max-width: 40px;
}

.navbar {
  margin-left: 15px;
}

.navbar li {
  display: inline-block;
  padding: 10px;
  margin-top: 3px;
}

.navbar a {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.navbar a:hover {
  transition: color 1.2s;
  color: #F0B35B;
}

.btnAgendar {
  padding: 10px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.btnAgendar a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  display: block;
}

.btnAgendar:hover {
  background-color: #F0B35B;
  transition: background-color 1s;
  border: 0;
}

.btnAgendar a:hover {
  color: #000;
}

.navbar-moblie {
  display: none;
}

.navbar-moblie i {
  color: #FFFFFF;
  font-size: 35px;
  margin-top: 13px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 5px;
  }
  .btnAgendar {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar-moblie {
    display: block;
  }
  .logo img {
    max-width: 45px;
    margin: 5px;
  }
}
.hero {
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.4), #0D121E), url("../assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
}

.description-hero {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}
.description-hero h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 150%;
  max-width: 70%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55);
}
.description-hero p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 14px 0;
}

.btn-contact {
  padding: 10px 55px;
  color: #080B16;
  background-color: #F0B35B;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 12px;
}

.btn-contact:hover {
  background-color: #FAFAFA;
  transition: background-color 1.5s ease;
  color: #080B16;
  animation: scaleButtom 0.8s alternate infinite;
}

@keyframes scaleButtom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .description-hero h1 {
    font-size: 30px;
    padding: 0 14px;
    width: 100%;
  }
  .description-hero p {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .description-hero h1 {
    font-size: 30px;
  }
  .description-hero p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    min-height: 60vh;
  }
}
.about {
  width: 100%;
  background-color: #0D121E;
  overflow: hidden;
  color: #FFFFFF;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-container img {
  max-width: 570px;
}
.about-container h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 21px;
}
.about-container p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
  text-align: justify;
}
.about-container address {
  font-style: normal;
}

.about-container div {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}
.services {
  background-color: #fff;
  color: #000;
}

.services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.services-header h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.services-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 75%;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 44px 34px 44px;
}

.services-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.6);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.services-item img {
  border-radius: 10x 10px 0px 0px;
  width: 100%;
  max-width: 100%;
  transition: transform 0.25s ease;
}

.services-item img:hover {
  transform: scale(1.4);
  z-index: 1;
}

.description-services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: white;
  z-index: 2;
}
.description-services h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}
.description-services address {
  font-style: normal;
  padding: 5px 20px;
  background: #F0B35B;
  font-weight: 300;
  color: #0D121E;
  font-size: 16px;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .service {
    flex-direction: column;
  }
}
.team {
  background-color: #0D121E;
  width: 100%;
  padding-bottom: 20px;
}

.title-team {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 40px;
  padding-top: 20px;
}
.title-team h1 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 700;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.teams-item img {
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.teams-item img:hover {
  transform: scale(1.05);
}

.teams-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.teams-info h1 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.teams-info li {
  display: inline-flex;
  margin-right: 10px;
}
.teams-info li i {
  font-size: 22px;
  color: #FFFFFF;
}

.teams-item li i:hover {
  color: #F0B35B;
  animation: scaleicon 0.8s alternate infinite;
  cursor: pointer;
}

@keyframes scaleicon {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}
@media screen and (max-width: 768px) {
  .teams {
    flex-direction: column;
  }
  .title-team h1 {
    font-size: 30px;
  }
}
.footer {
  width: 100%;
  background-color: #FFFFFF;
}

.unitis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.unitis-item {
  flex: 1;
  max-width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #FFFFFF;
  opacity: 0.8;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.6);
}

.unitis-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.unitis-info h1 {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55);
}

.unitis-info h5 {
  font-size: 18px;
  font-weight: 400;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.55);
}

.unitis-item:hover {
  opacity: 1;
  transition: opacity, border-radius 2s ease;
  border-radius: 0;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 5px;
}

.networks-footer {
  margin-bottom: 20px;
}

.networks-footer li {
  display: inline-flex;
  margin-right: 15px;
}

.networks-footer li i {
  font-size: 22px;
  color: #0D121E;
}

.logo-footer {
  width: 120px;
}

.networks-footer li i:hover {
  color: #080B16;
  animation: scaleicon 0.8s alternate infinite;
  cursor: pointer;
}

.copyright {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #080B16;
  text-align: center;
}

.copyright h1 {
  font-size: 14px;
  font-weight: 400;
}

.copyright h6 {
  font-size: 11px;
  font-weight: 300;
}

@keyframes scaleicon {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .unitis {
    flex-direction: column;
  }
  .unitis-item {
    flex: 1;
    width: 100%;
    min-height: 180px;
  }
  .copyright {
    padding-bottom: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #0D121E;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn-Whatsapp {
  padding: 10px;
  background-color: #25D366;
  border-radius: 100%;
  text-align: center;
  color: #FFFFFF;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
}
.btn-Whatsapp i {
  font-size: 20px;
  margin: 5px;
  transition: transform 1s ease;
}
.btn-Whatsapp i:hover {
  transform: scale(1.2);
}

.btn-Whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 8px;
  left: -130px;
  color: #080B16;
  font-size: 12px;
  background-color: #F0B35B;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.btn-Whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-Whatsapp {
    bottom: 25px;
  }
}/*# sourceMappingURL=style.css.map */